.searchboxStationsBody{
    z-index: 3;
    width: 220px;
    input{
        height: 22px;
        padding-left: 10px;
        font-weight: 600;
        width: 100%;
        
    }

    .results_list{
        z-index: 99;
        backdrop-filter: blur(15px);
        border: 1px solid rgb(87, 87, 87);
        background-color: rgba(77, 80, 80, 0.925);
        width: 300px;
        

     

    }




}