.islandStatsBox{

    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .heroValue{
        font-size: 30px;
        color: rgb(203, 205, 206);
    }

    .statsboxTitle{
        font-size: 20px;
        color: rgb(203, 205, 206);
        font-weight: 300;
    }

}