.navBody{
    
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
    align-items: center;

    background-color: #9ED2C6;
    border-radius: 12px;
    margin: 0 10px 0 10px;
    
    // padding: 20px;
    .navDatesChoosing{
        display: flex;

    }

    .buttonrow{
        display: flex;
        // justify-content: center;
        // align-items: center;
        gap: 15px;
        height: 25px;
        margin: 10px;
    }


}