.App {
    display: grid;
    grid-template-columns: 120px repeat(3, 1fr) 120px;
    grid-template-rows: 60px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* width: 100vw */
    
}

.appHeader { 
    
    grid-area: 1 / 1 / 2 / 6;
    background-color: #54BAB9;



}
.lmargin { 
    
    grid-area: 2 / 1 / 6 / 2;



}
.rmargin { 
    
    grid-area: 2 / 5 / 6 / 6;



}
.journies { 
    
    grid-area: 2 / 2 / 3 / 5;

    margin: 20px;

}
.stations { 
    
    grid-area: 3 / 2 / 5 / 3;



}
.dynamicIsland { 
    
    grid-area: 3 / 3 / 5 / 5;



}