.dynamicIslandBody{
    box-sizing: border-box;

    width: 100%;
    height: 100%;


    // background-color: aliceblue;

    border: 1px solid white;
  
    display: grid;
    grid-template-columns: 0.6fr;
    grid-template-rows: 100px 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


    .islandHeader { 
        
        grid-area: 1 / 1 / 2 / 3;
        background-color: rgba(250, 235, 215, 0.295);
    
    }
    .islandMetrics { 
        
        grid-area: 2 / 1 / 3 / 2;
        background-color: rgba(64, 209, 28, 0.295);
    
    }
    .islandAddress { 
        
        grid-area: 2 / 2 / 3 / 3;
        background-color: rgba(18, 72, 233, 0.295);
    
    }
    .islandMap { 
        
        grid-area: 3 / 2 / 4 / 3;
        background-color: rgba(43, 236, 17, 0.295);
    
    }
    .islandTraffic { 
        
        grid-area: 3 / 1 / 4 / 2;
        background-color: rgba(48, 150, 27, 0.295);
    
    }


}