.datepicker_body{

    padding: 0 8px 0 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;



    .react-datepicker__input-container>input{
        // height: 22px;
        // margin: 0;


        height: 21px;
        border-radius: 5px;
        border: 1px solid rgb(83, 80, 80);
        padding: 2px 2px 2px 6px;
    }
    .react-datepicker {
        z-index: 999 !important;
        position: relative;
        top: 0;
      }
}