.journeyTable_comp{

    height: 200px;
    // width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;

    // background-color: rgb(199, 155, 97);

    .journeyTable_tools{

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

}